.container {
            display: inline-flex;
            width: 100%;
            height: 40px;
            width: 250px;
            padding-left: 20px;
            margin-bottom: 40px;
            position: relative;
            top:30px;
        }

        #toggle {
            -webkit-appearance: none;
            appearance: none;
            height: 30px;
            width: 55px;
            background-color: #737373;
            position: absolute;
            right: 0;
            border-radius: 20px;
            outline: none;
            cursor: pointer;
            transition: background-color 0.5s;
        }

        #toggle:after {
            content: "";
            position: absolute;
            height: 20px;
            width: 20px;
            background-color: #ffffff;
            top: 5px;
            left: 7px;
            border-radius: 50%;
            transition: background-color 0.5s, box-shadow 0.5s, top 0.5s, left 0.5s;
        }

        .dark-theme {
            background-color: #1F1F1F;
            color: #f2f2f2;
            background-image: url("../img/bg_night.png");
            background-size: cover;

        }

        .dark-theme #toggle {
            background-color: #f2f2f2;
        }

        .dark-theme #toggle:after {
            background-color: transparent;
            box-shadow: 6px 6px #1F1F1F;
            top: -1px;
            left: 23px;
        }
